APP_NAME="Governance Intelligence Portal"
APP_ENV=production
APP_URL=https://my.gismartanalytics.com
APP_DEBUG=false

DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=gi_portal
DB_USERNAME=gi_user
DB_PASSWORD=secret

KEYCLOAK_URL=https://auth.gismartanalytics.com
KEYCLOAK_REALM=gi
KEYCLOAK_CLIENT_ID=business-layer
KEYCLOAK_CLIENT_SECRET=your-client-secret
KEYCLOAK_REDIRECT_URI=https://my.gismartanalytics.com/auth/callback

SESSION_SECRET=change-this-to-a-random-secret
AUTH_BYPASS=false

PAYFAST_SANDBOX=true
PAYFAST_MERCHANT_ID=10000100
PAYFAST_MERCHANT_KEY=46f0cd694581a
PAYFAST_PASSPHRASE=
PAYFAST_RETURN_URL=https://my.gismartanalytics.com/checkout/return
PAYFAST_CANCEL_URL=https://my.gismartanalytics.com/checkout/cancel
PAYFAST_NOTIFY_URL=https://my.gismartanalytics.com/checkout/notify
